@import "tailwindcss";

* {
  font-family: SF Pro, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  color: rgb(41 37 36);
}

body {
  background-color: rgba(171, 213, 255, 0.227);
}

#socials > a {
  transition: scale 0.05s ease-out;
  &:hover {
    scale: 1.1;
  }
}
